

  body{
  background-color:#f4f4f4;

  font-family:verdana, geneva, sans-serif;
    font-size: 14px;
  line-height: 1.3em;
    width:90%;
  margin:auto;
}
.container{
  width:95%;
  margin:auto;
  }

button[type="submit"] {
    background-color: #595555;
    color: #f4f4f4
}

button:hover{
    background: #C60A07;
    color:#f4f4f4;

}

a{
text-decoration: none;
color: #000;
}
a:hover{
    color: #C60A07;
}

.box-1{
  background-color:#333;
  color:#fff;
  border: 10px #78041C ridge;
  padding: 10px;
  font-style:italic;
}

.container h1 {
display:flex;
 justify-content: center;
}
.box-2{

 display:flex;
 justify-content: center;
}

.box-2 table{
    border: 2px double #D18B21;
}

.box-2 td {
  border: 1px solid #D18B21;
}


.my-form label{
    display:block;
}
.list-me li {
    border-bottom:1px dotted #333;
}

.floating {
    float:left;
    width:30%;
    border: 1px solid rgb(148, 144, 144);
    padding:10px;
    box-sizing: border-box;
    margin-top:10px;

}