

  body{
  background-color:#f4f4f4;

  font-family:verdana, geneva, sans-serif;
    font-size: 14px;
  line-height: 1.3em;
    width:90%;
  margin:auto;
}
.container{
  width:95%;
  margin:auto;
}
.box-1{
  background-color:#333;
  color:#fff;
  border: 10px #78041C ridge;
  padding: 10px;
  font-style:italic;
}

.container h1 {
margin-left:100px

}

.box-2{

  border: 3px double #D17121;
margin-left:20px;
    margin-right:520px

}

.box-2 td {
  border: 1px solid #D18B21
}